@charset "UTF-8";
* {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  --verde-principal:#515B22;
  --verde-oscuro:#303B27;
  --rojo_oscuro:#A4471F;
  --amarillo:#D8921E;
  --gris-claro:#FAFAFA;
  --gris-oscuro:#282828;
  --verde-claro:#C7D650;
  --txt-parrafo-blanco:#FFFFFF;
  --txt-parrafo-oscuro:#282828;
  --txt-titulo-blanco:#FFFFFF;
  --txt-titulo-oscuro:#303B27;
  --txt-btn-1:#FFFFFF;
  --txt-btn-2:#303B27;
  --txt-btn-3:#D8921E;
  --bg_btn-1:#D8921E;
  --bg_btn-2:#303B27;
  --bg_btn-3:#515B22;
  --bg_btn-4:#678130;
  --bg_btn-5:#9AA259;
  --fondo-s1:#FFFFFF;
  --fondo-s2:#FAFAFA;
  --fondo-s3:#303B27;
  --font-raleway:"Raleway", sans-serif;
  --font-quicksand:"Quicksand", sans-serif;
}

body {
  background-color: var(--gris-claro);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  margin: 20px 0;
  font-weight: 900;
  color: var(--verde-oscuro);
  text-transform: uppercase;
}

h1 {
  font-size: 53px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 16px;
  color: var(--gris-oscuro);
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--gris-oscuro);
}

.btn_leermas {
  border-radius: 4px;
  background-color: var(--bg_btn-1);
  color: var(--txt-btn-1);
  padding: 6px 16px;
  box-sizing: border-box;
}

.btn_link {
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  color: var(--txt-btn-3);
}

.btn_pri_redondo {
  border-radius: 100px;
  background-color: var(--bg_btn-1);
  color: var(--txt-btn-1);
  text-align: center;
  font-size: 13px;
  padding: 6px 14px 6px 24px;
  box-sizing: border-box;
  font-weight: 900;
  font-family: var(--font-raleway);
}
.btn_pri_redondo i {
  padding: 0 0 0 8px;
}

.btn_sec {
  border-radius: 4px;
  color: var(--txt-btn-blanco);
}

.btn_color1, .btn_color2, .btn_color3, .btn_color4 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.15%, rgba(129, 129, 129, 0.2) 100%), url("../images/01-home/texture_bg1.png"), linear-gradient(0deg, #D8921E, #D8921E), #FFFFFF;
  background-blend-mode: multiply, multiply, normal, normal;
  box-shadow: 0px 13px 12px -15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-size: cover;
  font-weight: 800;
  color: var(--txt-btn-1);
  font-family: var(--font-raleway);
  transition: 300ms ease;
  padding: 10px 20px;
}
.btn_color1:hover, .btn_color2:hover, .btn_color3:hover, .btn_color4:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.15%, rgba(129, 129, 129, 0.2) 100%), url("../images/01-home/texture_bg1.png"), linear-gradient(0deg, #b37410, #D8921E), #FFFFFF;
  background-size: cover;
}

.btn_color2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.15%, rgba(129, 129, 129, 0.2) 100%), url("../images/01-home/texture_bg1.png"), linear-gradient(0deg, #303B27, #303B27), #FFFFFF;
}
.btn_color2:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.15%, rgba(129, 129, 129, 0.2) 100%), url("../images/01-home/texture_bg1.png"), linear-gradient(0deg, #161d11, #303B27), #FFFFFF;
  background-size: cover;
}

.btn_color3 {
  background: url("../images/01-home/texture_bg1.png"), linear-gradient(180deg, rgba(0, 0, 0, 0) 66.15%, rgba(129, 129, 129, 0.09) 100%), linear-gradient(0deg, #515B22, #515B22), #FFFFFF;
}
.btn_color3:hover {
  background: url("../images/01-home/texture_bg1.png"), linear-gradient(180deg, rgba(0, 0, 0, 0) 66.15%, rgba(129, 129, 129, 0.09) 100%), linear-gradient(0deg, #343b11, #515B22), #FFFFFF;
  background-size: cover;
}

.btn_color4 {
  background: url("../images/01-home/texture_bg1.png"), linear-gradient(180deg, rgba(65, 82, 48, 0) 28.65%, rgba(31, 39, 23, 0.04) 100%), linear-gradient(0deg, #678130, #678130), #FFFFFF;
}
.btn_color4:hover {
  background: url("../images/01-home/texture_bg1.png"), linear-gradient(180deg, rgba(65, 82, 48, 0) 28.65%, rgba(31, 39, 23, 0.04) 100%), linear-gradient(0deg, #445819, #678130), #FFFFFF;
  background-size: cover;
}

.center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.spacer {
  width: 100%;
  height: 100px;
  display: block;
}

picture {
  display: inline-block;
}
picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.92);
  border-bottom: 1px solid #E4E4E4;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 20;
}
header .subheader {
  padding: 6px 10px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--verde-principal);
}
header .subheader .cont_subheader {
  display: grid;
  grid-template-columns: 1fr 100px;
  justify-content: space-between;
  align-items: center;
  color: var(--txt-titulo-blanco);
}
header .subheader .cont_subheader .indicadores {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  gap: 30px;
  white-space: nowrap;
}
header .subheader .cont_subheader .indicadores .indicador {
  font-size: 12px;
  font-family: var(--font-raleway);
  display: flex;
  font-weight: 400;
  gap: 10px;
}
header .subheader .cont_subheader .indicadores .indicador .dato_indicador {
  font-weight: 700;
}
header .subheader .cont_subheader .indicadores::-webkit-scrollbar {
  display: none;
}
header .subheader .cont_subheader .idioma {
  border-left: 1px solid #899E25;
  padding-left: 10px;
}
header .subheader .cont_subheader .idioma a {
  color: var(--txt-titulo-blanco);
  font-weight: 700;
  margin: 0 2px;
  padding: 3px;
  border-radius: 4px;
  font-size: 14px;
  transition: 300ms ease;
}
header .subheader .cont_subheader .idioma a.active {
  background-color: var(--fondo-s1);
  color: var(--bg_btn-2);
}
header .subheader .cont_subheader .idioma a:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.1921568627);
}
header .cont_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .cont_header h1 {
  margin: 10px 10px 0;
}
header .cont_header .navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .cont_header .navbar .btn_afiliados {
  background: var(--bg_btn-1);
  padding: 8px 12px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 100px;
  color: var(--txt-titulo-blanco);
  font-weight: 700;
  height: 38px;
  display: flex;
  align-items: center;
}
header .cont_header .navbar .btn_afiliados img {
  margin-left: 8px;
  display: block;
}
header .cont_header .navbar nav a {
  font-weight: 700;
  font-family: var(--font-quicksand);
  color: var(--verde-oscuro);
  cursor: pointer;
}

.cont_input_search {
  background: #ECECEC;
  border-radius: 100px;
  padding: 4px 4px 4px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 38px;
}
.cont_input_search input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #282828;
  font-size: 15px;
}
.cont_input_search button[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background-color: transparent;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease;
}
.cont_input_search button[type=submit]:hover {
  background-color: rgba(0, 0, 0, 0.068);
}

.nav_btn {
  cursor: pointer;
  padding: 0 10px;
  box-sizing: border-box;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  transition: 300ms ease;
  font-family: var(--font-raleway);
  font-weight: 600;
  color: var(--bg_btn-3);
}
.nav_btn span {
  margin-right: 10px;
}
.nav_btn:hover {
  background-color: rgba(40, 40, 40, 0.0666666667);
}

.social_side {
  position: fixed;
  left: 0;
  top: 20%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  border-radius: 0 8px 8px 0;
  overflow: hidden;
  z-index: 15;
}
.social_side a {
  background: var(--bg_btn-2);
  padding: 10px;
  box-sizing: border-box;
  color: var(--txt-btn-1);
  transition: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.social_side a:hover {
  background-color: var(--bg_btn-1);
}

.black_screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9;
  background-color: rgba(40, 40, 40, 0.7333333333);
  inset: 0;
  display: none;
}

.nav_main {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--fondo-s1);
  width: 100%;
  max-width: 500px;
  height: 100vh;
  z-index: 10;
  padding: 30px 40px 40px 40px;
  box-sizing: border-box;
  transition: 300ms ease-out;
  transform: translateX(500px);
}
.nav_main.active {
  transform: translateX(0px);
}
.nav_main .header_nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(40, 40, 40, 0.1921568627);
}
.nav_main .header_nav .close_btn {
  cursor: pointer;
  padding: 0 10px;
  box-sizing: border-box;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  transition: 300ms ease;
}
.nav_main .header_nav .close_btn span {
  margin-right: 10px;
}
.nav_main ul {
  padding: 0;
  height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.nav_main ul li {
  list-style: none;
}
.nav_main ul li .link_m_pri {
  padding: 10px 0;
  margin-bottom: 10px;
  font-family: var(--font-raleway);
  text-transform: uppercase;
  color: var(--txt-titulo-oscuro);
  font-weight: 900;
  font-size: 1.5em;
  cursor: pointer;
}
.nav_main ul li .link_m_pri.active {
  color: var(--amarillo);
  padding-left: 10px;
  border-left: 4px solid var(--amarillo);
}
.nav_main ul li .link_m_pri.active + .submenu {
  display: block;
}
.nav_main ul li .submenu {
  display: none;
  padding-left: 20px;
}
.nav_main ul li .submenu li .link_m_sec {
  font-size: 1em;
  font-family: var(--font-raleway);
  text-transform: uppercase;
  color: var(--txt-titulo-oscuro);
  font-weight: 900;
  padding: 10px 0;
  margin-bottom: 10px;
}
.nav_main ul li .submenu li .link_m_sec.active {
  color: var(--amarillo);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero_section {
  width: 100%;
  position: relative;
}
.hero_section::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  background: url("../images/border_home_hero.svg") no-repeat center bottom;
  background-size: 100%;
  height: 50px;
  z-index: 9;
}
.hero_section .swiperHero {
  height: 60vh;
}
.hero_section .swiperHero .swiper-slide {
  position: relative;
  z-index: -1;
  width: 100%;
  padding: 40px 120px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.hero_section .swiperHero .swiper-slide picture {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100%;
}
.hero_section .swiperHero .swiper-slide picture::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4056) 3.06%, rgba(0, 0, 0, 0) 47.04%);
  background-blend-mode: multiply, normal;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero_section .swiperHero .swiper-slide .content_slide_hero {
  background: rgba(48, 59, 39, 0.46);
  -webkit-backdrop-filter: blur(17px);
          backdrop-filter: blur(17px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 30px;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: left;
  max-width: 500px;
}
.hero_section .swiperHero .swiper-slide .content_slide_hero h2 {
  color: var(--txt-btn-1);
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
}
.hero_section .swiperHero .swiper-slide .content_slide_hero h4 {
  color: var(--txt-btn-1);
  margin: 10px 0;
}
.hero_section .swiperHero .swiper-slide .content_slide_hero summary {
  color: var(--txt-btn-1);
  font-size: 16px;
  margin-bottom: 30px;
}
.hero_section .swiper-pagination {
  z-index: 5 !important;
  bottom: 50px;
  background-color: #FFF;
  border-radius: 100px;
  padding: 4px 8px;
  box-sizing: border-box;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  left: 0;
  right: 0;
}
.hero_section .swiper-pagination span {
  width: 12px;
  height: 12px;
  background: var(--bg_btn-4);
}

footer {
  position: relative;
  z-index: 5;
  background: linear-gradient(0deg, #36452A, #36452A), linear-gradient(0deg, #444444, #444444), url("../images/01-home/img_footer_bg.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: color, multiply, normal;
  padding: 60px 0 0;
  box-sizing: border-box;
  -webkit-mask-image: url("../images/mask_footer.svg");
          mask-image: url("../images/mask_footer.svg");
  -webkit-mask-position: top;
          mask-position: top;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
}
footer::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(54, 69, 42, 0.72);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  z-index: 1;
}
footer .cont_gen_footer, footer .cont_gen_subfooter {
  position: relative;
  z-index: 5;
}
footer .cont_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 30px;
}
footer .cont_footer h4 {
  color: var(--txt-titulo-blanco);
  padding-bottom: 6px;
  margin: 10px 0 20px;
  border-bottom: 2px solid var(--bg_btn-4);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
footer .cont_footer .col1 a {
  margin-bottom: 20px;
}
footer .cont_footer .col1 a img {
  filter: brightness(100);
}
footer .cont_footer .col1 summary {
  color: var(--txt-parrafo-blanco);
  list-style: none;
  font-size: 15px;
}
footer .cont_footer .col2 {
  font-size: 15px;
  color: var(--txt-parrafo-blanco);
}
footer .cont_footer .col2 ul {
  padding-left: 0px;
}
footer .cont_footer .col2 ul li {
  list-style: none;
}
footer .cont_footer .col2 ul li a {
  color: var(--txt-btn-1);
  margin-bottom: 12px;
  transition: 300ms ease;
}
footer .cont_footer .col2 ul li a span {
  margin-right: 8px;
}
footer .cont_footer .col2 ul li a:hover {
  color: var(--bg_btn-1);
}
footer .cont_footer .col3 .nav_footer_menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 0px;
  gap: 10px;
}
footer .cont_footer .col3 .nav_footer_menu ul li {
  list-style: none;
}
footer .cont_footer .col3 .nav_footer_menu ul li a {
  color: var(--txt-btn-1);
  font-size: 14px;
  font-weight: 600;
  transition: 300ms ease;
}
footer .cont_footer .col3 .nav_footer_menu ul li a:hover {
  color: var(--txt-btn-3);
}

.cont_gen_subfooter {
  background: #1B2314;
  width: 100%;
  border-top: 1px solid var(--bg_btn-4);
  padding: 4px 0;
  box-sizing: border-box;
}
.cont_gen_subfooter .center {
  display: flex;
  justify-content: space-between;
}

.link_paxzu {
  margin: 0 4px;
}

.social_subfooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_subfooter h5 {
  color: var(--txt-titulo-blanco);
  text-transform: uppercase;
  margin: 10px 0;
}
.social_subfooter ul {
  padding-left: 10px;
  margin: 0;
}
.social_subfooter li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social_subfooter li a {
  color: var(--txt-btn-1);
  width: 30px;
  height: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF;
  padding: 8px;
  box-sizing: border-box;
  transition: 300ms ease;
}
.social_subfooter li a:hover {
  color: var(--bg_btn-1);
}

.txt_legal {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  color: var(--txt-titulo-blanco);
}
.txt_legal a {
  color: var(--txt-titulo-blanco);
  font-weight: 600;
}
.txt_legal a:not(.link_paxzu) {
  margin-left: 12px;
}
.txt_legal a:hover {
  color: var(--bg_btn-1);
  text-decoration: underline;
}

.cont_quienes_s {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
  margin: 40px 0;
}
.cont_quienes_s picture {
  max-width: 164px;
  height: 129px;
  position: relative;
  margin: 20px;
  justify-self: center;
}
.cont_quienes_s picture img {
  border-radius: 8px;
  min-width: 164px;
}
.cont_quienes_s picture:hover::before {
  transform: rotate(0deg);
}
.cont_quienes_s picture::before {
  content: "";
  position: absolute;
  width: 164px;
  height: 129px;
  inset: 0;
  z-index: -1;
  background-color: var(--fondo-s3);
  transform: rotate(-10deg);
  border-radius: 8px;
  transition: 300ms ease;
}

.slider_s_gremiales {
  position: relative;
  padding: 30px 60px 0;
  box-sizing: border-box;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev, .swiper-button-prev, .swiper-rtl .swiper-button-next {
  background-color: var(--bg_btn-3);
  border-radius: 100px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after, .swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
  font-size: 20px;
  color: var(--txt-btn-1);
  font-weight: 900;
}

.sliderServiciosG {
  padding-bottom: 60px;
}
.sliderServiciosG .swiper-pagination {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  right: 0;
  background-color: #d2d2d2;
  padding: 4px;
  border-radius: 100px;
}
.sliderServiciosG .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #FFF;
}
.sliderServiciosG .swiper-pagination-bullet-active {
  background-color: #899E25;
}
.sliderServiciosG .swiper-slide {
  border-radius: 8px;
  overflow: hidden;
}
.sliderServiciosG .swiper-slide a {
  position: relative;
}
.sliderServiciosG .swiper-slide a span {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  bottom: 0;
  background-color: rgba(216, 145, 30, 0.9254901961);
  padding: 4px 0;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-btn-1);
  font-weight: 700;
}
.sliderServiciosG .swiper-slide a span i {
  margin-left: 10px;
}

.cont_noticias_dest {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 0;
  box-sizing: border-box;
}

.cont_gen_noticias_d {
  display: grid;
  position: relative;
}
.cont_gen_noticias_d .swiper-backface-hidden .swiper-slide {
  padding-bottom: 20px;
}
.cont_gen_noticias_d .card_noticia_d {
  max-width: 312px;
  transition: 300ms ease-out;
  background-color: var(--fondo-s1);
  border-radius: 8px;
  position: relative;
}
.cont_gen_noticias_d .card_noticia_d picture {
  max-height: 161px;
  overflow: hidden;
  width: 100%;
}
.cont_gen_noticias_d .card_noticia_d picture img {
  height: initial;
  max-height: 161px;
  border-radius: 8px 8px 0 0;
}
.cont_gen_noticias_d .card_noticia_d:hover {
  filter: drop-shadow(0px 4px 23px rgba(0, 0, 0, 0.3));
}
.cont_gen_noticias_d .card_noticia_d:hover .card_content h5 {
  color: var(--bg_btn-3);
}
.cont_gen_noticias_d .card_noticia_d .card_content {
  padding: 4px 16px 16px;
  box-sizing: border-box;
}
.cont_gen_noticias_d .card_noticia_d .card_content span {
  font-size: 13px;
  text-align: left;
  color: #999999;
}
.cont_gen_noticias_d .card_noticia_d .card_content summary {
  list-style: none;
  font-size: 14px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3;
}
.cont_gen_noticias_d .card_noticia_d .card_content h5 {
  margin: 10px 0;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
  color: var(--txt-titulo-oscuro);
  line-height: 1.3;
  transition: 300ms ease;
}
.cont_gen_noticias_d .card_noticia_d .btn_leermas {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: -10pxpx;
  margin: auto;
  height: 23px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  font-family: var(--font-raleway);
  font-weight: 700;
}
.cont_gen_noticias_d .card_noticia_d .btn_leermas i {
  margin-left: 10px;
}

.cont_b_palmicultor {
  display: flex;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.15%, rgba(129, 129, 129, 0.2) 100%), url("../images/01-home/texture_bg1.png"), linear-gradient(0deg, #303B27, #303B27), #FFFFFF;
  background-blend-mode: multiply, multiply, normal, normal;
  box-shadow: 0px 13px 12px -15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 40px 200px;
  box-sizing: border-box;
  margin: 50px auto;
  max-width: 1030px;
}
.cont_b_palmicultor > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont_b_palmicultor .btn_green_outline {
  border-radius: 100px;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px solid #C0DF2C;
  color: #C0DF2C;
  font-weight: 800;
  font-family: var(--font-raleway);
}
.cont_b_palmicultor .col_pc picture {
  width: 100%;
}
.cont_b_palmicultor .col_pc div {
  color: var(--txt-parrafo-blanco);
}

.cont_servicios_g {
  background: #FFFFFF;
  border: 2px solid #EDEDED;
  box-sizing: border-box;
  box-shadow: 0px 64px 34px -62px rgba(0, 0, 0, 0.22);
  border-radius: 35px;
  padding: 40px;
  box-sizing: border-box;
  max-width: 1060px;
  margin: auto;
}
.cont_servicios_g h3 {
  text-align: center;
}
.cont_servicios_g .desc_serv_g {
  text-align: center;
  max-width: 860px;
  margin: auto;
  font-size: 15px;
  margin-bottom: 20px;
}

.bg_sections {
  width: 100%;
  background: url("../images/01-home/bg_sections.png"), linear-gradient(180deg, #fafafa 0%, #fafafa 100%) no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top;
  padding: 30px 0 100px;
}

.cont_organizaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
}
.cont_organizaciones h3 {
  margin-bottom: 40px;
}
.cont_organizaciones .cont_logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.cont_organizaciones .cont_logos picture {
  max-width: 153px;
  max-height: 98px;
  background: var(--fondo-s1);
  box-shadow: 0px 21px 15px -24px rgba(0, 0, 0, 0.33);
  border-radius: 7px;
  padding: 20px;
  box-sizing: border-box;
}
.cont_organizaciones .cont_logos picture img {
  -o-object-fit: contain;
     object-fit: contain;
}

.s_palmitultores_dest {
  background: linear-gradient(0deg, #505050, #505050), url("../images/01-home/img_bg_palmicultores.jpg");
  background-blend-mode: multiply, normal;
  background-size: cover;
  padding: 40px 0;
}
.s_palmitultores_dest .cont_palmicultores_dest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.s_palmitultores_dest .cont_palmicultores_dest .tit_palmicultores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.s_palmitultores_dest .cont_palmicultores_dest h2 {
  color: var(--txt-parrafo-blanco);
  font-size: 33px;
  max-width: 300px;
}

.sliderPalmicultores {
  max-width: 350px;
  margin-bottom: 60px;
}
.sliderPalmicultores .swiper-slide {
  display: flex;
  flex-direction: column;
}
.sliderPalmicultores h5 {
  color: var(--txt-parrafo-blanco);
  font-size: 16px;
  max-width: 300px;
  margin: 20px 0;
  color: #C7D650;
}
.sliderPalmicultores div {
  color: var(--txt-parrafo-blanco);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.3;
}
.sliderPalmicultores .swiper-horizontal > .swiper-pagination-bullets, .sliderPalmicultores .swiper-pagination-bullets.swiper-pagination-horizontal, .sliderPalmicultores .swiper-pagination-custom, .sliderPalmicultores .swiper-pagination-fraction {
  bottom: -23px;
}
.sliderPalmicultores .swiper-pagination-bullet-active {
  background: #C7D650 !important;
}
.sliderPalmicultores .swiper-pagination-bullet {
  opacity: 1;
  background: #FFF;
}

.btn_outline_blanco {
  border: 1px solid #FFF;
  border-radius: 100px;
  padding: 8px 16px;
  box-sizing: border-box;
  color: var(--txt-btn-1);
  font-weight: 900;
  font-family: var(--font-raleway);
  text-transform: uppercase;
  transition: 300ms ease;
}
.btn_outline_blanco i {
  margin-left: 10px;
}
.btn_outline_blanco:hover {
  border-color: #C7D650;
  color: #C7D650;
}

.atajos_side {
  position: fixed;
  top: 30%;
  right: -6px;
  z-index: 40;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transform: translateX(212px);
  border-radius: 8px;
  transition: 300ms ease-out;
}
.atajos_side.active {
  transform: translateX(30px);
}
.atajos_side .btn_atajo {
  transform: rotate(-90deg);
  background: var(--amarillo);
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.3);
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 900;
  color: var(--txt-btn-1);
  text-align: center;
  text-transform: uppercase;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  top: -4px;
  cursor: pointer;
  font-family: var(--font-raleway);
  font-weight: 700;
}
.atajos_side .cont_atajos {
  border-radius: 0px 8px 8px 8px;
  overflow: hidden;
  position: relative;
  top: -36px;
  left: -34px;
}
.atajos_side .cont_atajos ul {
  margin: 0;
  padding: 0;
}
.atajos_side .cont_atajos ul li {
  list-style: none;
  margin: 0;
}
.atajos_side .cont_atajos ul li a {
  margin-bottom: 0px;
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  color: var(--txt-btn-1);
  font-weight: 800;
  font-size: 15px;
  font-family: var(--font-raleway);
  text-transform: uppercase;
}
.atajos_side .cont_atajos ul li a.btn_f1 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.15%, rgba(129, 129, 129, 0.2) 100%), url("../images/01-home/texture_bg1.png"), linear-gradient(0deg, #D8921E, #D8921E), #FFFFFF;
  background-blend-mode: multiply, multiply, normal, normal;
  box-shadow: 0px 13px 12px -15px rgba(0, 0, 0, 0.25);
  background-size: cover;
}
.atajos_side .cont_atajos ul li a.btn_f2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.15%, rgba(129, 129, 129, 0.2) 100%), url("../images/01-home/texture_bg1.png"), linear-gradient(0deg, #303B27, #303B27), #FFFFFF;
  background-blend-mode: multiply, multiply, normal, normal;
  box-shadow: 0px 13px 12px -15px rgba(0, 0, 0, 0.25);
  background-size: cover;
}
.atajos_side .cont_atajos ul li a.btn_f3 {
  background: url("../images/01-home/texture_bg1.png"), linear-gradient(180deg, rgba(0, 0, 0, 0) 66.15%, rgba(129, 129, 129, 0.09) 100%), linear-gradient(0deg, #515B22, #515B22), #FFFFFF;
  background-blend-mode: multiply, multiply, normal, normal;
  box-shadow: 0px 13px 12px -15px rgba(0, 0, 0, 0.25);
  background-size: cover;
}
.atajos_side .cont_atajos ul li a.btn_f4 {
  background: url("../images/01-home/texture_bg1.png"), linear-gradient(180deg, rgba(65, 82, 48, 0) 28.65%, rgba(31, 39, 23, 0.04) 100%), linear-gradient(0deg, #678130, #678130), #FFFFFF;
  background-blend-mode: multiply, multiply, normal, normal;
  box-shadow: 0px 13px 12px -15px rgba(0, 0, 0, 0.25);
  background-size: cover;
}
.atajos_side .cont_atajos ul li a.btn_f5 {
  background: url("../images/01-home/texture_bg1.png"), linear-gradient(180deg, rgba(33, 43, 29, 0) 63.54%, rgba(63, 84, 56, 0.16) 100%), linear-gradient(0deg, #9AA259, #9AA259);
  background-blend-mode: multiply, multiply, normal;
  box-shadow: 0px 13px 12px -15px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 0px 5px;
  background-size: cover;
}

.boton_serv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-transform: uppercase;
}

.cont_movile {
  gap: 10px;
  display: none;
  margin: 20px 0;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(27, 35, 20, 0.2470588235);
  padding-bottom: 20px;
}

.btn_afiliados_movile {
  padding: 6px 12px;
  background-color: var(--bg_btn-1);
  border-radius: 100px;
  color: var(--txt-btn-1);
  font-weight: 700;
  text-transform: uppercase;
  height: 28px;
  display: flex;
  align-items: center;
}
.btn_afiliados_movile span {
  margin-left: 10px;
}

.cont_gen_noticias_d .swiper-button-next.swiper-button-disabled, .cont_gen_noticias_d .swiper-button-prev.swiper-button-disabled {
  display: none;
}

.header_page1, .header_page2 {
  background: linear-gradient(0deg, rgba(48, 59, 39, 0.54), rgba(48, 59, 39, 0.54)), url("../images/02-blog/bg_header_page.png") no-repeat center;
  background-size: cover;
  min-height: 239px;
  padding: 30px 0;
  box-sizing: border-box;
  position: relative;
}
.header_page1:before, .header_page2:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  margin: 0 auto;
  background: var(--amarillo);
  border-radius: 51px;
  width: 83px;
  height: 8px;
  border-radius: 100px;
}

.cont_title_page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
}
.cont_title_page h1 {
  margin: 30px 0 0;
  color: var(--txt-titulo-blanco);
  background: linear-gradient(180deg, #FFFFFF 25.5%, #C6C6C6 74.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 40px;
}
.cont_title_page .desc_page {
  max-width: 560px;
  font-weight: 600;
  margin: auto;
  text-align: center;
  color: var(--txt-parrafo-blanco);
}
.cont_title_page .desc_page span {
  color: var(--txt-btn-3);
}
.cont_title_page .desc_page.m_size1 {
  font-size: 20px;
  font-weight: 700;
}
.cont_title_page .desc_page.m_size1 span {
  color: var(--txt-btn-3);
  font-weight: 700;
}

.cont_miga {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.cont_miga.contraste .link_miga {
  color: var(--txt-parrafo-oscuro);
}
.cont_miga.contraste span {
  color: var(--txt-parrafo-oscuro);
}
.cont_miga .link_miga {
  color: var(--txt-parrafo-blanco);
  font-size: 14px;
  font-weight: 600;
}
.cont_miga .link_miga:hover {
  text-decoration: underline;
}
.cont_miga span {
  font-weight: 800;
  color: var(--txt-btn-1);
}

.cont_gen_blog {
  background: url("../images/bg_gris_hojas.png"), linear-gradient(180deg, #F2F2F2 0%, #FFFFFF 100%);
  background-size: cover;
  background-blend-mode: multiply;
  padding: 40px 0;
  box-sizing: border-box;
}

.blog_nota_destacada {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
  justify-items: center;
  gap: 40px;
  margin-bottom: 60px;
}
.blog_nota_destacada a {
  display: inline-block;
  max-width: 790px;
}
.blog_nota_destacada a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_nota_destacada .desc_not_dest h5 {
  color: var(--rojo_oscuro);
  margin: 10px 0;
}
.blog_nota_destacada .desc_not_dest .categoria_nota {
  color: var(--txt-parrafo-blanco);
  padding: 4px 10px;
  box-sizing: border-box;
  background: var(--bg_btn-2);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
  font-size: 13px;
}
.blog_nota_destacada .desc_not_dest a h2 {
  transition: 300ms ease;
}
.blog_nota_destacada .desc_not_dest a:hover h2 {
  color: var(--txt-btn-3);
}
.blog_nota_destacada .desc_not_dest summary {
  list-style: none;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.blog_entradas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.blog_entradas .card_entrada {
  position: relative;
  max-height: 337px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
.blog_entradas .card_entrada picture {
  position: absolute;
  height: 100%;
  z-index: 1;
}
.blog_entradas .card_entrada picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_entradas .card_entrada .categoria_notas_ent {
  z-index: 15;
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--bg_btn-2);
  text-align: center;
  font-weight: 800;
  font-size: 13px;
  padding: 4px 16px;
  color: var(--txt-parrafo-blanco);
  box-sizing: border-box;
}
.blog_entradas .card_entrada .tit_entradas {
  position: relative;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 10;
  transition: 300ms ease;
  transform: translateY(84px);
}
.blog_entradas .card_entrada .tit_entradas span {
  font-size: 13px;
  color: var(--verde-claro);
  font-weight: 700;
}
.blog_entradas .card_entrada .tit_entradas summary {
  list-style: none;
  display: block;
  position: relative;
  transition: 300ms ease;
  margin-top: 10px;
  z-index: 20;
  color: var(--txt-parrafo-blanco);
  font-size: 14px;
}
.blog_entradas .card_entrada .tit_entradas h4 {
  margin: 10px 0 0;
  color: var(--txt-parrafo-blanco);
}
.blog_entradas .card_entrada .tit_entradas::before {
  content: "";
  position: absolute;
  background: rgba(81, 91, 34, 0.84);
  height: 140px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 30px;
  transform: skewY(8deg);
  z-index: -1;
  transition: 300ms ease-out;
}
.blog_entradas .card_entrada:hover .tit_entradas {
  transform: translateY(0px);
}
.blog_entradas .card_entrada:hover .tit_entradas::before {
  height: 130%;
  bottom: -30px;
}

.nav_notas_adc {
  position: relative;
  padding-left: 30px;
}
.nav_notas_adc::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 1px;
  width: 100%;
  background: var(--bg_btn-2);
}
.nav_notas_adc ul {
  margin: 80px 0 30px;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
.nav_notas_adc ul li a {
  padding: 4px 16px;
  box-sizing: border-box;
  border: 1px solid var(--bg_btn-2);
  border-radius: 4px 4px 0 0;
  position: relative;
  z-index: 5;
  font-weight: 600;
  font-size: 15px;
}
.nav_notas_adc ul li a.active {
  border-bottom: 1px solid #F2F2F2;
}

.card_entrada2 {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(202, 202, 202);
}
.card_entrada2:last-child {
  border-bottom: 1px solid transparent;
}
.card_entrada2 h3 {
  transition: 300ms ease;
}
.card_entrada2 a:hover h3 {
  color: var(--bg_btn-1);
}
.card_entrada2 > a {
  border-radius: 8px;
  overflow: hidden;
  width: 150%;
  height: 250px;
  display: inline-block;
  max-width: 300px;
  justify-self: end;
}
.card_entrada2 > a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card_entrada2 summary {
  list-style: none;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}
.card_entrada2 .autor {
  font-size: 14px;
  opacity: 0.6;
}
.card_entrada2 .autor span {
  font-weight: 900;
}

.s_nota_header .center {
  max-width: 680px;
}
.s_nota_header h1 {
  font-size: 32px;
  text-align: center;
}
.s_nota_header .cont_nota_datos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.s_nota_header .cont_nota_datos .dato_nota {
  font-family: var(--font-raleway);
  font-size: 14px;
  font-weight: 800;
}
.s_nota_header .cont_nota_datos .dato_nota i {
  margin: 0 10px;
}
.s_nota_header .cont_nota_datos .dato_nota span {
  font-family: var(--font-raleway);
  color: var(--txt-parrafo-oscuro);
  margin: 0 5px;
  opacity: 0.6;
}
.s_nota_header .cont_nota_datos .dato_nota.compartir_redes {
  display: flex;
  align-items: center;
  gap: 10px;
}
.s_nota_header .cont_nota_datos .dato_nota.compartir_redes span {
  opacity: 0.6;
  font-weight: 900;
}
.s_nota_header .cont_nota_datos .dato_nota.compartir_redes a {
  background-color: var(--bg_btn-2);
  width: 28px;
  height: 28px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txt-parrafo-blanco);
  transition: 300ms ease;
}
.s_nota_header .cont_nota_datos .dato_nota.compartir_redes a:hover {
  background-color: var(--bg_btn-1);
}

.s_nota_body {
  display: grid;
  grid-template-columns: minmax(auto, auto) minmax(auto, 680px) minmax(auto, 250px);
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  background: url("../images/bg_gris_hojas.png") no-repeat center;
  background-size: cover;
  padding: 40px 0;
}
.s_nota_body .cont_nota_txt {
  max-width: 680px;
  grid-column: 2/3;
}
.s_nota_body .cont_nota_txt picture {
  width: 100;
  max-height: 400px;
  display: inline-block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin: 30px 0;
}
.s_nota_body .cont_nota_txt picture .categoria_nota_img {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 4px 12px;
  box-sizing: border-box;
  left: 10px;
  top: 10px;
  color: var(--txt-titulo-blanco);
  background-color: var(--bg_btn-2);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}
.s_nota_body .cont_nota_txt picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont_nota_txt picture + .cont_texto_nota h2 {
  margin-top: 0;
}

.cont_texto_nota {
  line-height: 1.4;
}
.cont_texto_nota ul li {
  margin-bottom: 10px;
}
.cont_texto_nota h2 {
  font-size: 24px;
}

.cont_cta_nota {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.cont_cta_nota a {
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 8px;
}

.aside_not_interes {
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 8px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 140px;
}
.aside_not_interes h4 {
  margin: 10px 0 20px;
  color: var(--txt-titulo-oscuro);
}
.aside_not_interes a {
  font-size: 14px;
  margin-bottom: 10px;
  transition: 300ms ease;
}
.aside_not_interes a:hover {
  color: var(--txt-btn-3);
  text-decoration: underline;
}

.nota_gen_ant_sig {
  width: 100%;
  background: url("../images/01-home/bg_sections_reverse.png") no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 80px 0 120px;
  margin-bottom: -50px;
}

.cont_ant_sig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 80px;
  position: relative;
}
.cont_ant_sig::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 1px;
  height: 100px;
  background-color: #acacac;
}
.cont_ant_sig .link_nota_anterior {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont_ant_sig .link_nota_anterior:hover div {
  background-color: var(--bg_btn-2);
  color: var(--txt-parrafo-blanco);
}
.cont_ant_sig .link_nota_anterior:hover h4 {
  color: #D8921E;
}
.cont_ant_sig .link_nota_anterior div {
  padding: 4px 10px;
  box-sizing: border-box;
  border-radius: 8px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: 300ms ease;
  font-weight: 900;
  font-family: var(--font-raleway);
}
.cont_ant_sig .link_nota_anterior h4 {
  text-transform: initial;
  font-weight: var(--font-quicksand);
  max-width: 400px;
  transition: 300ms ease;
}
.cont_ant_sig .link_nota_anterior.mod_siguiente {
  text-align: right;
  align-items: flex-end;
}

.mod_borderColor::before {
  background: url("../images/border_footer_color1.svg") no-repeat center bottom;
}

.s_costos, .bg_full_reverse {
  background: url("../images/01-home/bg_sections_reverse.png") no-repeat bottom;
  background-size: cover;
  padding: 80px 0;
  box-sizing: border-box;
  margin-bottom: -50px;
}

.cont_desc_costos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.cont_desc_costos picture {
  max-width: 400px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 8px;
}
.cont_desc_costos picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont_desc_costos div {
  background: #FAFAFA;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  max-width: 470px;
  margin-left: -30px;
}

.cont_costos_prod {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont_costos_prod .scroll_h_fechas {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #F0F0F0;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 11px 2px rgba(0, 0, 0, 0.16);
  border-radius: 80px;
  max-width: 600px;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: 300ms ease;
  margin-bottom: 40px;
}
.cont_costos_prod .scroll_h_fechas::-webkit-scrollbar {
  display: none;
}
.cont_costos_prod .scroll_h_fechas a {
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.cont_costos_prod .scroll_h_fechas a.active_costos {
  color: var(--txt-titulo-blanco);
  background: var(--bg_btn-1);
}
.cont_costos_prod .cont_pdfs_estudios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 60px;
}
.cont_costos_prod .cont_pdfs_estudios a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont_costos_prod .cont_pdfs_estudios a picture {
  max-width: 119px;
  max-height: 160px;
  margin-bottom: 20px;
  overflow: hidden;
}
.cont_costos_prod .cont_pdfs_estudios a picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.cont_costos_prod .cont_pdfs_estudios a label {
  font-weight: 600;
  font-size: 12px;
  text-transform: lowercase;
  max-width: 150px;
  text-align: center;
}

.cont_gen_datos_eco {
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 1050px;
  margin: 60px auto;
  padding: 30px;
}
.cont_gen_datos_eco .cont_datos1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}
.cont_gen_datos_eco .cont_datos1 .card_datos_eco {
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
}
.cont_gen_datos_eco .cont_datos1 .card_datos_eco div {
  position: relative;
  border-bottom: 1px dashed #F2F2F2;
  text-align: left;
  font-size: 13px;
  padding-bottom: 10px;
  min-height: 45px;
  display: flex;
  align-items: center;
}
.cont_gen_datos_eco .cont_datos1 .card_datos_eco h5 {
  color: var(--bg_btn-4);
  text-align: left;
  margin: 10px 0;
}
.cont_gen_datos_eco .card_datos_eco_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.cont_gen_datos_eco .card_datos_eco_2 .card_datos_eco {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
}
.cont_gen_datos_eco .card_datos_eco_2 .card_datos_eco h5 {
  color: var(--bg_btn-4);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px dashed #F2F2F2;
  height: 100%;
  margin: 0;
}
.cont_gen_datos_eco .card_datos_eco_2 .card_datos_eco h5 span {
  font-size: 12px;
  text-align: left;
  align-self: flex-start;
}
.cont_gen_datos_eco .card_datos_eco_2 .card_datos_eco .cont_col_datos_eco .row {
  display: flex;
  justify-content: space-between;
}
.cont_gen_datos_eco .card_datos_eco_2 .card_datos_eco .cont_col_datos_eco > div {
  position: relative;
  border-bottom: 1px dashed #F2F2F2;
  text-align: left;
  font-size: 13px;
  min-height: 45px;
  display: flex;
  align-items: center;
}
.cont_gen_datos_eco .card_datos_eco_2 .card_datos_eco .cont_col_datos_eco > div:last-child {
  border-bottom: 1px dashed transparent;
}
.cont_gen_datos_eco .card_datos_eco_2 .card_datos_eco .cont_col_datos_eco h5 {
  color: var(--bg_btn-4);
  text-align: left;
  margin: 10px 0;
}

.s_entradas_economico .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s_entradas_economico .cont_gen_entradas_eco {
  margin-bottom: 20px;
}
.s_entradas_economico .txt1_ent_eco {
  max-width: 680px;
  text-align: center;
}

.s_equipo_trabajo {
  margin: 80px 0;
}
.s_equipo_trabajo h3 {
  text-align: center;
}

.txt_al_center {
  text-align: center;
}

.txt_al_left {
  text-align: left;
}

.txt_al_right {
  text-align: right;
}

.cont_gen_equipo_t {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.cont_gen_equipo_t .card_equipo_t {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
.cont_gen_equipo_t .card_equipo_t picture {
  max-width: 115px;
  max-height: 115px;
}
.cont_gen_equipo_t .card_equipo_t picture img {
  border-radius: 100px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont_gen_equipo_t .card_equipo_t .datos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cont_gen_equipo_t .card_equipo_t .datos .email {
  font-weight: 600;
  margin-bottom: 4px;
}
.cont_gen_equipo_t .card_equipo_t .datos .desc {
  font-size: 15px;
}
.cont_gen_equipo_t .card_equipo_t .datos h5 {
  margin: 0 0 10px;
}

.header_page2 {
  min-height: 300px;
}
.header_page2 .cont_title_page h1 {
  margin: 30 0 60px !important;
}

.s_cifras_finance {
  margin-top: -60px;
  position: relative;
  z-index: 10;
}
.s_cifras_finance::before {
  content: "";
  position: absolute;
  background: #D8921E;
  border-radius: 51px;
  width: 83px;
  height: 7px;
  top: -4px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.cont_gen_cifras_finance {
  margin: 0 auto;
  max-width: 1064px;
  padding: 40px 100px;
  box-sizing: border-box;
  background: #FAFAFA;
  box-shadow: 0px -63px 46px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.cont_gen_cifras_finance picture {
  max-width: 210px;
  justify-self: center;
}
.cont_gen_cifras_finance .desc_cifras_finance {
  max-width: 557px;
}
.cont_gen_cifras_finance .desc_cifras_finance span {
  color: var(--amarillo);
  font-weight: 700;
}

.cont_gen_consulta_finance {
  max-width: 855px;
  margin: 0 auto 30px;
}
.cont_gen_consulta_finance h4 {
  max-width: 646px;
  margin: 0 auto 20px;
}

.s_consulta_finance .cont_costos_prod .cont_pdfs_estudios {
  grid-template-columns: repeat(4, 1fr);
}

.cont_gen_credito_finagro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}
.cont_gen_credito_finagro picture {
  display: inline-block;
  border-radius: 0 8px 8px 0;
  overflow: hidden;
}
.cont_gen_credito_finagro .cont_cred_finagro {
  background: url("../images/04-financiamiento-cred/texture_bg.png"), #303B27;
  background-blend-mode: overlay, normal;
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 18px 18px -14px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  max-width: 630px;
  padding: 30px;
  box-sizing: border-box;
  margin-left: -100px;
}
.cont_gen_credito_finagro .cont_cred_finagro h4 {
  color: var(--txt-btn-1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.cont_gen_credito_finagro .cont_cred_finagro h4 span {
  font-weight: 400;
}
.cont_gen_credito_finagro .cont_cred_finagro div {
  color: var(--txt-parrafo-blanco);
  margin-bottom: 30px;
}
.cont_gen_credito_finagro .cont_cred_finagro .cont_pdfs_finagro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.cont_gen_credito_finagro .cont_cred_finagro .cont_pdfs_finagro a {
  background-color: var(--bg_btn-1);
  padding: 6px 16px;
  box-sizing: border-box;
  color: var(--txt-btn-1);
  font-weight: 600;
  gap: 10px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.s_contacto {
  position: relative;
  padding-bottom: 100px;
}
.s_contacto::before {
  content: "";
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  background: url("../images/05-contacto/bg_contact.png") no-repeat center;
  background-size: cover;
  height: 100%;
  z-index: 1;
}
.s_contacto .c_contacto {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: stretch;
}
.s_contacto .c_contacto::before {
  content: "";
  background: #D8921E;
  border-radius: 51px;
  width: 6px;
  height: 100px;
  position: absolute;
  inset: 0;
  margin: auto;
}

.col_contact1 {
  max-width: 470px;
  display: block;
  margin: 0 auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}
.col_contact1 .cont_miga .link_miga, .col_contact1 .cont_miga span {
  color: var(--txt-titulo-oscuro);
}
.col_contact1 h1 {
  font-size: 40px;
  text-align: center;
  color: var(--txt-titulo-oscuro);
}
.col_contact1 picture {
  overflow: hidden;
  border-radius: 8px;
  max-height: 232px;
  width: 100%;
  display: block;
  margin: auto;
}
.col_contact1 picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.col_contact1 .contacto_datos_info .c_datos_item {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.col_contact1 .contacto_datos_info .c_datos_item a {
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 300ms ease;
}
.col_contact1 .contacto_datos_info .c_datos_item a span {
  font-size: 24px;
  font-weight: 300;
}
.col_contact1 .contacto_datos_info .c_datos_item a div {
  font-weight: 700;
  color: var(--txt-btn-2);
  transition: 300ms ease;
}
.col_contact1 .contacto_datos_info .c_datos_item a:hover {
  color: var(--bg_btn-1);
}
.col_contact1 .contacto_datos_info .c_datos_item a:hover div {
  color: var(--txt-btn-3);
}

.aside_form {
  padding: 80px 0 0;
}

.contact_form {
  background: #F4F4F4;
  box-shadow: 0px 33px 29px -27px rgba(0, 0, 0, 0.21);
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  max-width: 400px;
  margin: auto;
}

.cont_input {
  position: relative;
}
.cont_input input, .cont_input select {
  min-height: 35px;
  width: 100%;
  border: 1px solid #BBBBBB;
  border-radius: 6px;
  padding: 6px 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: transparent;
  outline: 0;
  font-size: 15px;
}
.cont_input input:not(:-moz-placeholder-shown) + label, .cont_input select:not(:-moz-placeholder-shown) + label {
  top: -8px;
  font-size: 12px;
  left: 10px;
}
.cont_input input:not(:-ms-input-placeholder) + label, .cont_input select:not(:-ms-input-placeholder) + label {
  top: -8px;
  font-size: 12px;
  left: 10px;
}
.cont_input input:not(:placeholder-shown) + label, .cont_input select:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 12px;
  left: 10px;
}
.cont_input label {
  position: absolute;
  top: 10px;
  font-size: 14px;
  left: 14px;
  padding: 0 4px;
  box-sizing: border-box;
  font-weight: 600;
  color: #9F9F9F;
  background: #F4F4F4;
  cursor: text;
  transition: 300ms ease;
}
.cont_input:focus-within input + label {
  top: -8px;
  font-size: 12px;
  left: 10px;
}
.cont_input input[type=file] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 6px;
  font-size: 13px;
}
.cont_input input[type=file]::-webkit-file-upload-button {
  font-size: 14px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: #D9D9D9;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  margin-right: 10px;
}
.cont_input input[type=file]::-webkit-file-upload-button:hover {
  background: #bbbbbb;
}

.cont_submit {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.cont_submit .btn_submit {
  display: flex;
  gap: 6px;
  align-items: center;
  background: var(--bg_btn-3);
  border: 0;
  outline: 0;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 100px;
  color: var(--txt-btn-1);
  font-weight: 800;
  height: 30px;
  max-width: 125px;
  width: 100%;
  justify-content: center;
  font-family: var(--font-raleway);
  font-size: 14px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .txt_legal {
    font-size: 12px;
  }

  .hero_section .swiperHero .swiper-slide {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1050px) {
  footer .cont_footer {
    gap: 20px;
  }

  .txt_legal {
    flex-direction: column;
  }

  .tl1 {
    margin-bottom: 10px;
    text-align: center;
  }

  .tl2 {
    padding: 10px 0;
  }

  .cont_noticias_dest {
    flex-direction: column;
  }

  .cont_b_palmicultor {
    padding: 40px 100px;
  }

  .hero_section .swiperHero {
    height: 100vh;
    max-height: 600px;
  }

  .cont_gen_noticias_d .swiper-button-next.swiper-button-disabled, .cont_gen_noticias_d .swiper-button-prev.swiper-button-disabled {
    display: flex;
  }

  .cont_gen_credito_finagro {
    grid-template-columns: 1fr;
  }

  .cont_gen_credito_finagro picture {
    display: none;
  }

  .cont_gen_credito_finagro .cont_cred_finagro {
    margin-left: 0px;
    justify-self: center;
  }

  .s_contacto .c_contacto {
    gap: 80px;
    grid-template-columns: 1fr;
  }

  .col_contact1 {
    position: static;
  }

  .s_contacto::before {
    width: 100%;
  }

  .s_contacto .c_contacto::before {
    display: none;
  }

  .aside_form {
    padding: 0;
  }

  .contact_form {
    max-width: 580px;
  }
}
@media screen and (max-width: 768px) {
  header .cont_header .navbar .btn_afiliados {
    display: none;
  }

  .cont_input_search {
    display: none;
  }

  .cont_movile .cont_input_search {
    display: flex;
    width: 100%;
  }

  .cont_movile {
    display: flex;
  }

  footer .cont_footer {
    grid-template-columns: 1fr;
  }

  .cont_gen_subfooter .center {
    flex-direction: column;
  }

  .cont_organizaciones .cont_logos {
    grid-template-columns: 1fr 1fr;
  }

  .s_palmitultores_dest .cont_palmicultores_dest {
    grid-template-columns: 1fr;
  }

  .cont_gen_noticias_d {
    grid-template-columns: 1fr;
  }

  .cont_gen_noticias_d .card_noticia_d {
    max-width: initial;
  }

  .cont_b_palmicultor {
    padding: 40px 20px;
  }

  .cont_quienes_s {
    grid-template-columns: 1fr;
  }

  .cont_servicios_g {
    padding: 20px;
  }

  .hero_section .swiperHero .swiper-slide {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .hero_section .swiperHero .swiper-slide {
    padding: 40px 60px;
  }

  .cont_organizaciones h3 {
    text-align: center;
  }

  .hero_section .swiperHero {
    height: 100vh;
    max-height: 660px;
  }

  .servicios_g .center {
    padding: 0;
  }

  .swiperNoticias {
    padding: 0 30px;
    box-sizing: border-box;
  }

  .noticias_dest .center {
    padding: 0;
  }

  .cont_gen_cifras_finance {
    grid-template-columns: 1fr;
  }

  .s_consulta_finance .cont_costos_prod .cont_pdfs_estudios {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .cont_title_page h1 {
    font-size: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  footer .cont_footer .col3 .nav_footer_menu ul {
    grid-template-columns: 1fr 1fr;
  }

  .cont_b_palmicultor {
    flex-direction: column;
    gap: 30px;
  }

  .slider_s_gremiales {
    padding: 30px 0px 0;
  }

  .hero_section .swiperHero .swiper-slide {
    padding: 40px 20px;
  }

  .s_palmitultores_dest .cont_palmicultores_dest .tit_palmicultores {
    flex-direction: column;
    justify-content: centerç;
  }

  .s_palmitultores_dest .cont_palmicultores_dest h2 {
    text-align: center;
  }

  .nav_main {
    padding: 30px 20px 40px;
  }

  .cont_gen_cifras_finance {
    padding: 20px;
  }
}
@media screen and (max-width: 380px) {
  footer .cont_footer .col3 .nav_footer_menu ul {
    grid-template-columns: 1fr;
  }

  .cont_organizaciones .cont_logos {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */